* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outerGridContainer {
    display: grid;
    grid-template-areas: 
    'leftNav topNav'
    'leftNav contentS';
    grid-template-rows: 120px auto;
    grid-template-columns: 230px 1fr;
    height: 100vh;
}

.leftNavBar {
    background-color: aqua;
    grid-area: leftNav;
}

.topNavBar {
    background-color: gray;
    grid-area: topNav;
}

.contentSpace {
    background-color: #97ecc5;
    grid-area: contentS;
    display: grid;
    grid-template-columns: 1.6fr 1fr;
}


.leftBoxes {
    background-color: beige;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    grid-gap: 20px;
    margin-top: 50px;
}

.rightBoxes {
    background-color: purple;
    margin-top: 50px;
    display: grid;
}

.boxleft {
    background-color: blue;
}

.boxright {
    background-color: orange;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

@media screen and (max-width:700px) {
/*     .leftBoxes {
        grid-template-columns: 1fr;
    } */
    
    .contentSpace {
        grid-template-columns: 1fr;
    }
}